{% extends 'cliente/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-8 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h2>Agregar Artista</h2>
                <div class="container">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ artista_form.as_p }}
                    <div class="d-flex justify-content-center">
                        <input type="reset" value="Cancelar" class="btn btn-secondary" onclick="window.location.href='{% url 'obras_destacadas' %}'">
                        &nbsp;
                        <input type="submit" name="artista_form_submit" value="Guardar Artista" class="btn btn-primary">
                    </div>
                </form>
                {{ mensaje_artista }}
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 col-md-8 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h2>Agregar Obra</h2>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ obra_form.as_p }}
                    <div class="d-flex justify-content-center">
                        <input type="reset" value="Cancelar" class="btn btn-secondary" onclick="window.location.href='{% url 'obras_destacadas' %}'">
                        &nbsp;
                        <input type="submit" name="obra_form_submit" value="Guardar Obra" class="btn btn-primary">
                    </div>
                </form>
                {{ mensaje_obra }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
