{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'obras_destacadas' %}">
                    <img src="{% static 'img/grupozerosin.png' %}" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'obras_destacadas' %}">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Tipos De Arte
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'pintura' %}">Pintura</a></li>
                                <li><a class="dropdown-item" href="{% url 'escultura' %}">Escultura</a></li>
                                <li><a class="dropdown-item" href="{% url 'orfebreria' %}">Orfebrería</a></li>
                                <li><a class="dropdown-item" href="{% url 'tejido' %}">Tejido</a></li>
                                <li><a class="dropdown-item" href="{% url 'otras' %}">Otras Expresiones</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link active" aria-current="page" href="{% url 'carrito'  %}">Carrito</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" action="{% url 'buscar' %}">
                        <input class="form-control me-2" type="search" placeholder="" aria-label="Search" name="query">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'agregar' %}">Agregar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Desconectarse</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Iniciar Sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'registro' %}">Registrate</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <section>
        {% block content %}
        {% endblock %} 
    </section>
    <div class="separador"></div>
    <section>
        <footer>
            <ul>
                <p><a href="{% url 'contacto' %}">Contáctanos</a></p>
                <li>Teléfono: 123-456-7890</li>
                <li>Email: info@example.com</li>
            </ul>
            <ul>
                <p>Síguenos en las redes sociales:</p>
                <li><a href="https://twitter.com/">Twitter</a></li>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
            </ul>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Quienes Somos
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Grupo Zero</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{% static 'img/grupozerosin.png' %}"  alt="grupo Zero">
                            <p>Grupo Zero es un grupo de artistas que se dedica a la creación y exposición de diferentes
                                tipos de arte en distintos formatos y medios. Sus integrantes tienen estilos y enfoques
                                artísticos diversos, pero comparten el objetivo de expresarse a través de sus obras y de
                                compartir sus creaciones con el público.</p>
                            <p>La página web de Grupo Zero busca ser una plataforma que permita a los artistas mostrar
                                su trabajo de manera accesible y atractiva, y que invite al público a conocer y
                                disfrutar de sus obras.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
        {% for m in messages %}
        <script>
            swal.fire({
                "title": "Felicitaciones",
                "text": "{{ m }}",
                "icon": "success"
            });
        </script>
        {% endfor %}
        {% endif %}
        {% block js %}
        {% endblock %}
    </section>
</body>
</html>
