{% extends 'cliente/base.html' %}

{% load static %}
{% load humanize %}
{% block js %}
    <script>
        function eliminarObra(id){
            swal.fire({
                "title": "¿Estás seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton":true,
                "cancelButtonText":"No, Cancelar",
                "confirmButtonText":"Sí, Eliminar"
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "/eliminar_view/"+id+"/"
                }
            })
        }
    </script>
{% endblock js %}  
{% block content %}
    {% if user.is_staff %}
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h2 style="color: #fff;">Lista Obras</h2>
                <hr>
                <table class="table table-striped table-hover table-responsive-sm custom-table">
                    <tr>
                        <th>Artista</th>
                        <th>Título</th>
                        <th>Precio</th>
                        <th>Tipo</th>
                        <th>Destacada</th>
                        <th>Opciones</th>
                    </tr>
        
                    {% for obra in obras %}
                        <tr>
                            <td>{{ obra.artista | title }}</td>
                            <td>{{ obra.titulo | title }}</td>
                            <td>${{ obra.precio | intcomma }}</td>
                            <td>{{ obra.tipo | title }}</td>
                            <td>{% if obra.destacada %}
                                SI
                                {% else %}
                                NO
                                {% endif %}
                            </td>
                            <th>
                                <a href="{% url 'modificar' obra.id %}" class="btn btn-info btn-sm">modificar</a>
                                <a href="#" onclick="eliminarObra({{ obra.id }})" class="btn btn-info btn-sm" id="eliminar-{{ obra.id }}">eliminar</a>
                            </th>
                        </tr>
                    {% endfor %}
                </table>
                <div>
                    <ul class="pagination">
                        {% if obras.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'buscar' %}?query={{ query }}&page={{ obras.previous_page_number }}">Anterior</a>
                            </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">{{ obras.number }} de {{ obras.paginator.num_pages }}</a>
                        </li>
                        {% if obras.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'buscar' %}?query={{ query }}&page={{ obras.next_page_number }}">Siguiente</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            {% for obra in obras %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ obra.imagen.url }}" alt="{{ obra.titulo }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ obra.titulo |capfirst }}</h5>
                            <p class="card-text">{{ obra.descripcion }}</p>
                            <p class="card-text">Precio: ${{ obra.precio | intcomma }}</p>
                            <a href="{% url 'carrito' %}?obra_id={{ obra.id }}" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div>
                    <div class="row">
                {% else %}
                    {% if forloop.last %}
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if obras.has_previous or obras.has_next %}
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        {% if obras.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?query={{ query }}&page={{ obras.previous_page_number }}">Anterior</a>
                            </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">{{ obras.number }} de {{ obras.paginator.num_pages }}</a>
                        </li>
                        {% if obras.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?query={{ query }}&page={{ obras.next_page_number }}">Siguiente</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}
