{% extends 'cliente/base.html' %}
{% load static %}
{% load custom_filters %}
{% block body %}
  {% block content %}
    {% if obras_por_tipo %}
    <br>
    <br>
    <div class="separador"></div>
    <br>
    <br>
      <h2 style="color: #fff;">Obras de arte en el carrito:</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Título</th>
            <th>Artista</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% load humanize %}
          {% for tipo, obras in obras_por_tipo.items %}
            {% for obra in obras %}
              <tr>
                <td>{{ tipo }}</td>
                <td>{{ obra.titulo }}</td>
                <td>{{ obra.artista.nombre }}</td>
                <td>${{ obra.precio | intcomma }}</td>
                
                <td>
                  <a href="{% url 'eliminar_del_carrito' obra.id %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      <p>Total precio: {{ total_precio | intcomma}}</p>
      <a href="{% url 'limpiar_carrito' %}" class="btn btn-danger">Limpiar Carrito</a>
      
    {% else %}
      <p>{{ mensaje }}</p>
    {% endif %}
  {% endblock %}
  
{% endblock %}
