{% extends 'cliente/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"style="color: #fff;">Contáctanos</h2>
                <hr>
                <form  action="" class="" method="post">
                {% csrf_token %}
                
                {{ form.as_p }}
                <hr>
                <br>
                <div class="d-flex justify-content-end">
                    <input type="reset" value="Cancelar" class="btn btn-secondary" onclick="window.location.href='{% url 'obras_destacadas' %}'">
                &nbsp;
                <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                </div>
                </form>
                {{mensaje}}
            </div>
        </div>
    </div>
</div>

{% endblock %}
