{% extends 'cliente/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2 style="color: #fff;">Editar Obra</h2>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ form.errors }} 
                    <div class="d-flex justify-content-center">
                        <input type="reset" value="Cancelar" class="btn btn-secondary" onclick="window.location.href='{% url 'buscar' %}'">

                        &nbsp;
                        <input type="submit" value="Editar" class="btn btn-primary">
                    </div>
                </form>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="message">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}