{% extends 'cliente/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="separador"></div>
    <h1 style="color: #fff;">Productos Destacados</h1>
    <div class="separador"></div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for obras_slice in obras|slice:"3" %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row">
                    {% for obra in obras_slice %}
                    <div class="col-md-4">
                        <a href="{% url obra.tipo %}">
                            <img src="{{ obra.imagen.url }}" class="d-block img-fluid" alt="...">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
    
    
    
</section>
    <div class="separador"></div>
    <h1 style="color: #fff;">Historia</h1>
    <div class="separador"></div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <a href="https://es.wikipedia.org/wiki/Venus_de_Milo" target="_blank"><img src="{% static 'img/venus.jpg' %}"
                        class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title"style="color: #fff;">Venus De Milo Figura Decorativa</h5>
                    <p class="card-text"style="color: #fff;">La Afrodita de Milo, más conocida como Venus de Milo, es una de las
                        estatuas más representativas del periodo helenístico de la escultura griega, y una de
                        las más famosas esculturas de la antigua Grecia. Fue creada en algún momento entre los
                        años 130 a. C. y 100 a.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="https://es.wikipedia.org/wiki/El_nacimiento_de_Venus_(Botticelli)" target="_blank"><img
                        src="{% static 'img/elnacimiento.jpg' %}"class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title"style="color: #fff;">El nacimiento de Venus</h5>
                    <p class="card-text"style="color: #fff;">El nacimiento de Venus es un cuadro realizado por el pintor
                        renacentista Sandro Botticelli, una de las obras cumbre del maestro florentino y del
                        Quattrocento italiano. Está ejecutado al temple sobre lienzo y mide 278,5 cm de ancho
                        por 172,5 cm de alto.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="https://es.wikipedia.org/wiki/Historia_de_la_orfebrer%C3%ADa" target="_blank"><img
                        src="{% static 'img/330px-Egypte.jpg' %}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title"style="color: #fff;"> Dinastía XXII.</h5>
                    <p class="card-text"style="color: #fff;">La Historia de la Orfebrería trata de la evolución de la orfebrería a
                        través del tiempo.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="https://es.wikipedia.org/wiki/Tapiz_del_Apocalipsis" target="_blank"><img
                        src="{% static 'img/tapestries.jpg' %}" class="card-img-top img-fluid" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title"style="color: #fff;">Tapiz del Apocalipsis</h5>
                    <p class="card-text"style="color: #fff;">El tapiz, una de las formas más antiguas de arte textil, fue un oficio
                        prominente desde la segunda mitad del siglo XIV hasta finales del siglo XVIII. En
                        Europa, durante esta época se produjeron grandes tapices de pared que por lo general
                        eran propiedad de la realeza y la élite. Los reyes, reinas y aristócratas a menudo los
                        usaban para decorar espacios públicos e interiores para mostrar su riqueza. Enrique
                        VIII, por ejemplo, tenía unos 2,000 tapices colgados en sus distintos palacios.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="https://es.wikipedia.org/wiki/Cine_hist%C3%B3rico" target="_blank"><img
                        src="{% static 'img/cine.jpg' %}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title"style="color: #fff;">Cine histórico</h5>
                    <p class="card-text"style="color: #fff;">El cine histórico o cine de época es un género cinematográfico
                        caracterizado por la ambientación en una época histórica determinada; tanto si los
                        hechos y personajes representados son reales como si son imaginarios, pero verosímiles;
                        de forma similar a la novela histórica.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
