{% extends 'cliente/base.html' %}
{% load static %}


{% block content %}
<div class="separador"></div>
<h1 style="color: #fff;">Galeria De Orfebreria</h1>
<div class="separador"></div>
<div class="row">
    {% load humanize %}
    {% for obra in obras %}
    <div class="col-md-4">
        <div class="card">
            <img src="{{ obra.imagen.url }}" alt="{{ obra.titulo }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" style="color: #fff;"> {{ obra.titulo | capfirst }}</h5>
                <p class="card-text"style="color: #fff;">{{ obra.descripcion }}</p>
                <p class="card-text"style="color: #fff;">Precio: ${{ obra.precio | intcomma }}</p>
                <a href="{% url 'carrito' %}?obra_id={{ obra.id }}" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 and not forloop.last %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
