{% if paginator.num_pages > 1 %}
<div class="d-flex justify-content-center">
    <ul class="pagination">
        {% if obras.has_previous %}
            <li class="page-item d-none d-sm-block">
                <a class="page-link" href="?page={{ obras.previous_page_number }}#pagtable">Anterior</a>
            </li>
        {% endif %}
        {% for page in paginator.page_range %}
            {% if forloop.last and page != obras.number and paginator.num_pages > 7 %} 
                {% if obras.next_page_number != paginator.num_pages %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ obras.number | add:1}}#pagtable">...</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?page={{paginator.num_pages}}#pagtable">{{paginator.num_pages}}</a>
                </li>
            {% endif %}
            {% if page == obras.number and page > 7 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page | add:-1 }}#pagtable">...</a>
                </li>    
            {% endif %}
            {% if page < 7 or page == obras.number %}
                <li class="page-item {% if page == obras.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}#pagtable">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if obras.has_next %}
            <li class="page-item d-none d-sm-block">
                <a class="page-link" href="?page={{ obras.next_page_number }}#pagtable">Siguiente</a>
            </li>
        {% endif %}
    </ul>
</div>
<div class="d-flex justify-content-center d-sm-none">            
    {% if obras.has_previous %}
        <span class="page-item">
            <a class="page-link" href="?page={{ obras.previous_page_number }}#pagtable">Anterior</a>
        </span>
    {% endif %}
    {% if obras.has_next %}
        <span class="page-item">
            <a class="page-link" href="?page={{ obras.next_page_number }}#pagtable">Siguiente</a>
        </span>
    {% endif %}
    <br>
    <br>
</div>
{% endif %}
