{% extends 'cliente/base.html' %}
{% load static %}


{% block content %}
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
        <div class="card-body">
        <h2 class="card-title text-center"style="color: #fff;">Recuperar Contraseña</h2>
        <hr>
        <br>
        <br>
        <form method="post" class="my-form">
            
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-3">
                
                <br>
            <br>
            <hr>
            <button type="submit" class="btn btn-primary">Enviar</button>
            &nbsp;
            <input type="reset" value="Cancelar" class="btn btn-secondary" onclick="window.location.href='{% url 'login' %}'">
            <br>
            <br>
            
            </div>
        </form>
        
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}

