{% extends 'cliente/base.html' %}
{% load static %}

{% block content %}
<div class="separador"></div>

    <h1 style="color: #fff;">Galeria De Escultura</h1>
<div class="separador"></div>
    <div class="row">
        {% load humanize %}
        {% for obra in obras %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ obra.imagen.url }}" alt="{{ obra.titulo }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #fff;"> {{ obra.titulo | capfirst }}</h5>
                        <p class="card-text"style="color: #fff;">{{ obra.descripcion }}</p>
                        <p class="card-text"style="color: #fff;">Precio: ${{ obra.precio | intcomma }}</p>
                        <a href="{% url 'carrito' %}?obra_id={{ obra.id }}" class="btn btn-primary">Comprar</a>

                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="row">
        {% endif %}
    {% endfor %}
    </div>

    {% if obras.has_previous or obras.has_next %}
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                {% if obras.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?query={{ query }}&page={{ obras.previous_page_number }}">Anterior</a>
                    </li>
                {% endif %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">{{ obras.number }} de {{ obras.paginator.num_pages }}</a>
                </li>
                {% if obras.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?query={{ query }}&page={{ obras.next_page_number }}">Siguiente</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}