header img {
  width: 35%;
}

header .nav {
  min-height: 200px;
  display: flex;
  align-items: center;
  background-color: #2f78a5 !important;
}

ol {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

li {
  margin-right: 10px;
}

h1,
h2 {
  text-align: center;
  color: rgb(19, 53, 146);
}

.my-custom-color{
color:rgb(25, 22, 203);
}


body {
  background-color: #cddbfe !important;
}

.row {
  align-items: center;
}

.row img {
  width: 300px;
  right: 200px;
}

.row p {
  text-align: center;
}

footer {
  background-color: black;
  color: red;
  margin-top: 50px;
  padding: 30px;
}

.separador {
  height: 2px;
  background-color: #b42d3f;
  margin: 20px 0;
}


  .card {
    width: 100%;
    max-width: 400px;
    background-color: #4a9c8d !important;
  }
  .card p {
    color: rgb(68, 59, 195); 
  }
.card-img {
  width: 300px;
  height: 300px;
}

.carousel-item img {
  width: 800px;
  height: 400px;
}

.carousel-img {
  width: 500px;
  height: 300px;
}

.card-img-top {
  width: 50%;
  height: auto;
}

.gallery {
  margin: 20px;
}

.card-custom {
  width: 200px;
  height: 300px;
}

.card-custom-img {
  width: 200px;
  height: 300px;
}

.gallery img {
  max-width: 100%;
}

button img {
  width: 10%;
  right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery li {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  position: relative;
}

.gallery img {
  width: 100%;
}

.card {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-data {
  padding: 10px;
  background-color: #13a3b7;
}

.card-data h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.card-data p {
  margin-bottom: 0;
  font-size: 1rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "contact-info social-media modal-button"
    "contact-info social-media modal-content";
  gap: 20px;
  padding: 20px;
}

.contact-info {
  grid-area: contact-info;
}

.social-media {
  grid-area: social-media;
}

.modal-button {
  grid-area: modal-button;
}

.modal-content {
  grid-area: modal-content;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

#tabla-cliente,
#tabla-empleados {
  max-width: 500px;
  min-width: 200px;
  margin: auto;
}

.art-card {
  padding: 10px;
  margin-bottom: 10px;
  min-height: 500px;
}

.art-card .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.art-card .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.art-card .card-text {
  font-size: 10px;
  margin-bottom: 5px;
}

.art-card h5 {
  text-align: center;
  color: rgb(105, 101, 136);
}

.art-card li {
  font-size: 16px;
  color: rgb(109, 31, 3);
  text-align: justify;
  line-height: 1.5;
}

.art-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.art-card img {
  height: 60%;
  object-fit: cover;
}

.custom-table {
  background-color: #8c1111;
  
}

.my-form input[type="text"],
.my-form input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #ff0000; 
}



.btn-submit {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}
