{% extends 'cliente/base.html' %}

{% block content %}
<div class="container">
    <div class="col-12 col-md-8 offset-md-4">
        <div class="card">
            <h2>Ingresa usuario</h2>
            <hr>
            <form action="" method="post" class="my-form">
                {% csrf_token %}
                <div class="container">
                {{ form.as_p }}
                <div class="container">
                    <br>
                    <hr>
                <input type="submit" value="Ingresar" class="btn-submit">
                &nbsp;
                <br>
                <input type="reset" value="Cancelar" class="btn btn-secondary" onclick="window.location.href='{% url 'obras_destacadas' %}'">
            </form>
            {% if error %}
            <h3>{{ error }}</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
